.filtros{
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: 90%;
	margin-top: 50px;
	display: inline-flex;
	align-items: center;
}
.filtros h1{
	transform: none;
	left: 0;
}
.filtros form{
	position: relative;
	right: 0;
	float: right;
}
.filtros input[type="text"]{
	border: 1px solid gray;
	height: 25px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 20px;
}