/*Overlay*/
.overlay{
  background: rgba(0,0,0,.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  visibility: hidden;
  z-index: 2;
}
.overlay.active{
  visibility: visible;
}
/*ventana del popup*/
.popup {
  position: absolute;
  width: 75%;
  height: 75%;
  background: white;
  border: none;
  font-family: 'Montserrat', sans-serif;

  transform: scale(0.7);
  opacity: 0;
  transition: .3s ease all;
}
/*formulario*/
.form-container {
  max-width: 100%;
  max-height: 100%;
  padding: 5%;
  background-color: white;

  opacity: 0;
}
.titulo input[type=text]{
  width: 60%;
  padding: 10px;
  margin: 0px 10px 22px 10px;
  border: none;
  background: #f1f1f1;
}
.descripcion textarea{
  width: 97%;
  padding: 15px;
  margin: 10px 0 0 0;
  border: none;
  background: #f1f1f1;
  resize: none;
}
.volver{
  background-color: white;
  border: none;
  cursor: pointer;
  margin-left: -20px;
}
.volver:hover{
  color: blue;
}
.enviar{
	background-color: blue;
	color: white;
	border:none;
	padding: 5px 10px 5px 10px;
	margin: 10px 0 0 40%;
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active{
  transform: scale(1);
  opacity: 1;
  border: 3px solid #f1f1f1;
}
.popup.active .form-container{
  opacity: 1;
}