*{
	box-sizing: border-box;
}
.wrapper{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 0;

	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 45px 30% 65% 100% 100% 100%;
  	grid-template-areas: 
    "top-nav	top-nav"
    "banner		banner"
    "botones	botones"
    "quienes_somos		quienes_somos"
    "ofertas	ofertas"
    "form		ubicacion";
}
/* ---------------------------*/
/* SCROLLBAR */
/* ---------------------------*/
@media (min-width: 600px){
	.wrapper::-webkit-scrollbar{
		width: 5px;
		background-color: #c6ddf0;
	}
}
@media (max-width: 600px){
	.wrapper::-webkit-scrollbar{
			width: 0px;
	}
}
.wrapper::-webkit-scrollbar-thumb{
	background-color: #104491;
	border-radius: 100px;
}
/* ------------------------------------*/
/* TOPNAV */
/* ------------------------------------*/
.topnav{
	grid-area: top-nav;
	z-index: 2;
	position: sticky;
	top: 0;
	background-color: #366DEE;
	border-bottom: 3px solid rgba(0,0,0,0.3);

	display: grid;
	grid-gap: 30px;
	grid-template-columns: 0.25fr 1fr 4fr 1.25fr;
	grid-template-rows: 45px;
	grid-template-areas:
	"faq	search	heading	sesion";
}
/* FAQ */
.topnav .faq{
	grid-area:faq;
	display: flex;
	align-items: center;
	justify-content: center;
}
.topnav .faq i{
	color: white;
	font-size: 20px;
	cursor: pointer;
}
/* BARRA DE BUSQUEDA*/
.topnav .search-container{
	grid-area: search;
	display: flex;
	align-items: center;
}
.topnav .search-container button[type=submit]{
	right: 0;
	width: 20px;
	border-radius: 100%;
	border: none;
	background-color: #C6DDFF;
	font-weight: bolder;
	color: #366DEE;
	cursor: pointer;
	margin-left: -20px;
}
.topnav .search-container input[type=text]{
	width: 85%;
	border-radius: 50px;
	border: none;
}
/* TITULO DE AUTOESCUELA TRAFICO*/
.topnav .heading {
	grid-area: heading;
	font-size: 130%;
	width: 100%;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
	text-align: center;
	margin-top: 0;
	color: white;
	white-space: nowrap;
 	overflow: hidden;
}
/* BOTONES DE INICIAR/CERRAR SESION*/
.topnav .sesion{
	grid-area: sesion;
	display: flex;
	justify-content: flex-end;
}
.topnav .sesion .login{
	width: 90%;
	height: 100%;
	color: white;
	background-color: #254A9F;
	border: none;
	cursor: pointer;
	font-size: 100%;
}
.topnav .sesion .login:hover{
	background-color: rgba(0,0,0,0.5);
}
.topnav .sesion .logedAs{
	width: 90%;
	background-color: #254A9F;
	cursor: pointer;
}
.topnav .sesion .logedAs form{
	display: grid;
	grid-template-columns: 8fr 2fr;
	grid-template-rows: 45px;
	grid-template-areas: "log cerrar";
}
.topnav .sesion .logedAs p{
	grid-area: log;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 10%;
	margin-top: 0;
	height: 45px;
	white-space: nowrap;
 	overflow: hidden;
	color: white;
}
.topnav .sesion .logedAs p:hover{
	background-color: rgba(0,0,0,0.3);
}
.topnav .sesion .logedAs button[type=submit]{
	grid-area: cerrar;
	border: none;
	color: white;
	background-color: #254A9F;
	cursor: pointer;
	font-size: 2vw;
}
.topnav .sesion .logedAs button[type=submit]:hover{
	background-color: rgba(0,0,0,0.3);
}


/* ------------------------------------*/
/* BANNER */
/* ------------------------------------*/
.banner{
	border: 3px solid black;
	grid-area: banner;
	z-index: 1;
}
/* ------------------------------------*/
/* BOTONES DE SCROLL */
/* ------------------------------------*/
.buttons{
	grid-area: botones;
	background: linear-gradient(180deg, rgba(198,221,240,1) 0%, rgba(198,221,240,1) 37%, rgba(255,255,255,1) 100%);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 5% 10% 15% 10%;
	grid-gap: 10%;
	z-index: 1;
}
.buttons *{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 130%;
}
.buttons .btn{
	background: #7CABF2;
	color: white;
	width: 100%;
	height: 100%;
	max-height: 200px;
	min-height: 200px;
}
.buttons button{
	border-radius: 100%;
	border: 3px solid #366DEE;
	width: 40px;
	height: 40px;
	opacity: 0.85;
	cursor: pointer;
	position: absolute;
	bottom: 20%;
}
.buttons p{
	text-align: center;
	position: absolute;
	top: 15%;
}
/* ------------------------------------*/
/* QUIENES SOMOS */
/* ------------------------------------*/
.quienes_somos{
	border: 3px solid black;
	grid-area: quienes_somos;
	z-index: 1;
}
/* ------------------------------------*/
/* OFERTAS */
/* ------------------------------------*/
.ofertas{
	grid-area: ofertas;
	background: #c6ddf0;
	z-index: 1;
}
/* ------------------------------------*/
/* FORMULARIO CONTACTO */
/* ------------------------------------*/
.contacto{
	border: 3px solid black;
	grid-area: form;
	z-index: 1;
}
/* ------------------------------------*/
/* MAPA Y UBICACION */
/* ------------------------------------*/
.ubicacion{
	border: 3px solid black;
	grid-area: ubicacion;
	z-index: 1;
}
.ubicacion img{
	height: 10%;
	width: 10%;
}
#mapid { 
	height: 100%;
	width:100%; 
}