@media (max-width: 1000px){
	.ofertas{
		grid-template-areas: 
		"titulo"
		"permiso_a"
		"permiso_b";
		grid-template-rows: 9% 45% 45%;
		grid-template-columns: 1fr;
		padding: 50px 50px 150px 50px;
	}
	.ubicacion .logo img{
		grid-area: logo;
		padding-bottom: 40px;
		height: 100%;
	}
	.ubicacion .logo h2{
		visibility: hidden;
	}
}
@media (max-width: 600px){
	*::-webkit-scrollbar{
			width: 0px;
	}
}
@media(max-width: 800px){
	.quienes_somos{
		grid-template-areas: "titulo"
							 "slider"
							 "info";
		grid-template-rows: 9% 45% 45%;
		grid-template-columns: 1fr;
	}
	.contacto{
		padding: 50px 0px 0px 0px;
	}
	.wrapper{
		grid-template-rows: 45px 18% 1fr 100% 100% 90% 10%;
	}
}
@media (max-height: 650px){
	.wrapper{
		grid-template-rows: 45px 195px 410px 650px 650px 650px;
	}
}
