.nuevaEntrada{
	float: right;
	margin-right: 10px;
	background-color: transparent;
	border: none;
	cursor: pointer;
}
.nuevaEntrada i{
	font-size: 20px;
}
.nuevaEntrada:hover{
	color: royalblue;
}
.toolbox{
	margin-top: 50px;
	display: flex;
	align-items: center;
}
.toolbox h1{
	margin-left: 60px;
	left: 0;
	transform: none;
}
.toolbox form{
	float: right;
	margin-right: 60px;
}
.toolbox form input{
	border-radius: 20px;
	height: 25px;
	padding-left: 10px;
	border: 1px solid gray;
}
.renovar button{
	height: 25px;
	border-radius: 20px;
	border: 1px solid gray;
	padding: 10px;
	display: flex;
	align-items: center;
	cursor: pointer;
}
.renovar button:hover{
	color: white;
}
